.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin:10px;
  border-style:solid;
  border-width:1px;
  border-color:#636363;
  max-width: 300px;
  @media (min-width: 900px){
    max-height: 300px;
  }
  @media (max-width: 900px){
    max-height: 400px;
  }
}
img {
  width: 100%;
  object-fit: cover

}

.img-container{
  width: 100%;

  /* big screen*/
  @media (min-width: 900px){
    max-height: 100px;
  }
  @media (max-width: 900px){
    max-height: 200px;
  }
  overflow: hidden;
  margin: 10px;
  position: relative;

  display: block;
  margin: 0 auto;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}