@media screen and (max-width: 1000px) {
  .content {
    margin-top: 90px;
    margin-left: 100px;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    margin-top: 90px;
    margin-left: 20%;
  }
}